
.right-card {
  background-color: rgba(250, 250, 250, 0);
  border-radius: 16px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 100px; /* Padding for left and right sides */
}

/* styles.css */
.card {
  background-color: #111111;
  border-radius: 16px;
  padding: 32px;
  height: 100vh;
}

.text {
  color: #212529;
  font-size: 48px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 56px;
  padding-bottom: 15px;
  text-align: left;
}

.para {
  color: #444444;
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 24px;
  padding-bottom: 24px;
}

.bottom-text {
  color: #444444;
  font-size: 16px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  padding-top: 20px;
}

.box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

